body {
    margin: 0;
    font-family: Arial;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    width: 70px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.card img {
    width: 100%;
}

/* მეორე გვერდი */
.wrapper {
    padding: 20px;
}

.row {
    background: #eee;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* მესამე */
.box {
    padding: 20px;
}

button {
    padding: 10px;
}